<div id="listContainer" class="responsive-paddings">
    <div class="content-block">
        <h2>Countries Table</h2>
    </div>

    <div id="containerTable">
        <!-- Tabla -->
        <dx-data-grid #table id="dataGrid" [dataSource]="arrayCountries" (onCellClick)="openGalleryPopup($event)"
            [selectedRowKeys]="[]" (onRowClick)="selectedRow($event)" [noDataText]="(loadingPanelVisible) ? '' : 'No data' ">

            <!-- Paginación -->
            <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>

            <!-- La propiedad "confirmDelete" se establece a false para que no aparezca el popup predefinido -->
            <dxo-editing mode="row" [confirmDelete]="false"></dxo-editing>
            <dxo-selection mode="single"></dxo-selection>

            <!-- Columnas-->
            <dxi-column dataField="name" caption="Country name" width="15%"></dxi-column>

            <dxi-column dataField="region" caption="Region"></dxi-column>

            <dxi-column dataField="language" caption="Language"></dxi-column>

            <dxi-column dataField="population" caption="Population" alignment="left"></dxi-column>

            <dxi-column dataField="urlFlag" caption="Flag" cellTemplate="cellTemplate"></dxi-column>
            <div *dxTemplate="let data of 'cellTemplate'">
                <div *ngIf="data.text !== ''; else noImage">
                    <img [src]="data.text" width="100" height="60" class="flagImg">
                </div>
            </div>

        </dx-data-grid>

        <dx-speed-dial-action icon="trash" label="Delete selected row" [visible]="true" (onClick)="openModal()"
            *ngIf="table.selectedRowKeys.length > 0">
        </dx-speed-dial-action>

    </div>

</div>

<ng-template #noImage>
    <label>No Image</label>
</ng-template>

<!-- Componentes genéricos -->

<app-popup-confirmation [visible]="isPopupConfirmationVisible" title="Are you sure you want to delete this country?"
    contentTemplate="contentButtons" [resizable]="false" [showCloseButton]="true" (emitVisible)="closeModal($event)"
    (emitButton)="pressConfirmationModalButtons($event)" [width]="500" [height]="200">
</app-popup-confirmation>

<app-popup-gallery [visible]="visible" title="Flags" contentTemplate="content" [resizable]="false"
    [arrayImages]="arrayFlags" [showCloseButton]="true" [rowIndex]="rowIndex" (emitVisible)="closeModal($event)">
</app-popup-gallery>

<app-load-panel [position]="{boundary: '#containerTable'}" [visible]="loadingPanelVisible" [showIndicator]="true"
    [showPane]="true" [shading]="true" shadingColor="rgba(48, 87, 142, 0.3)">
</app-load-panel>