<div class="responsive-paddings">
    <div class="content-block">
        <h2>Mobile Phones Table</h2>
    </div>

    <div>
        <!-- Tabla -->
        <dx-data-grid id="gridContainer" [dataSource]="arrayPhones">

            <!-- Paginación -->
            <!-- <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager> -->

            <!-- Columnas-->
            <dxi-column dataField="id" caption="Mobile phone ID" width="15%"></dxi-column>

            <dxi-column dataField="title" caption="Name"></dxi-column>

            <dxi-column dataField="description" caption="Description" width="40%"></dxi-column>

            <dxi-column dataField="category" caption="Category"></dxi-column>

            <dxi-column dataField="thumbnail" caption="Thumbnail"></dxi-column>

        </dx-data-grid>

    </div>

</div>