.fields {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2%;

    &--btnContainer {
        display: flex;
        justify-content: flex-end;
        margin-right: 5%;
        margin-top: 5%;

        &--btnSubmit {
            margin-right: 1%;
        }

        dx-button {
            border: none;
        }
    }
}