.selectContainer {
    margin: 5%;

    &--country {
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 10% 90%;

        label {
            display: flex;
            align-self: center;
        }
    }
}

.content {

    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 5%;

    &--data {
        display: grid;
        grid-template-rows: 25% 25% 25% 25%;

        label {
            font-size: x-large;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        strong {
            color: silver;
            margin-left: 5%;
        }
    }

    &--flag {
        img {
            border: 1px solid gray;
            float: right;
        }
    }

    &--description {
        display: grid;
        grid-template-columns: 100%;
    }
}

.selectecImgStyle {
    display: flex;
    align-self: center;
    margin-left: 5%;
}