<div id="listContainer" class="responsive-paddings">
    <h2>Country Updating</h2>


    <div class="selectContainer">
        <label>Search for the country you want to update: </label>

        <dx-autocomplete placeholder="Search by country name" [dataSource]="arrayCountries" valueExpr="name" (onValueChanged)="updateCountryInfo($event)">
            <div *dxTemplate="let item of 'item'">
                <span>{{item.name}}</span>
            </div>
        </dx-autocomplete>

        <div class="selectContainer--flag" *ngIf="data && country.urlFlag">
            <img [src]="country.urlFlag" width="90px" height="60px">
        </div>
    </div>

    <div class="formContainer" *ngIf="data">

        <form [formGroup]="updatingFormCountry">
            <div class="fields">
                <dx-number-box [value]="country.id" placeholder="Id *" name="id" formControlName="id" style="display: none;">
                </dx-number-box>

                <dx-text-box [value]="country.name" placeholder="Country name *" name="name" formControlName="name" width="45%">
                    <dx-validator>
                        <dxi-validation-rule type="required" message="This field is required">
                        </dxi-validation-rule>
                    </dx-validator>
                </dx-text-box>

                <dx-text-box [value]="country.region" placeholder="Region *" name="region" formControlName="region" width="45%">
                    <dx-validator>
                        <dxi-validation-rule type="required" message="This field is required">
                        </dxi-validation-rule>
                    </dx-validator>
                </dx-text-box>
            </div>

            <div class="fields">
                <dx-text-box [value]="country.language" placeholder="Official language *" name="language"
                    formControlName="language" width="45%">
                    <dx-validator>
                        <dxi-validation-rule type="required" message="This field is required">
                        </dxi-validation-rule>
                    </dx-validator>
                </dx-text-box>

                <dx-number-box [value]="country.population" placeholder="Population *" name="population" formControlName="population" width="45%">
                    <dx-validator>
                        <dxi-validation-rule type="required" message="This field is required">
                        </dxi-validation-rule>
                        <dxi-validation-rule type="pattern" [pattern]="numberPattern"  message="This field has to be a positive number">
                        </dxi-validation-rule>
                    </dx-validator>
                </dx-number-box>
            </div>

            <div class="fields">
                <dx-text-box [value]="country.urlFlag!" placeholder="URL flag" name="urlFlag" formControlName="urlFlag" width="45%">
                    <dx-validator>
                        <dxi-validation-rule type="pattern" [pattern]="urlPattern" message="This field has to be a valid url. Ej: https://flagcdn.com/w320/pl.png">
                        </dxi-validation-rule>
                    </dx-validator>
                </dx-text-box>

                <dx-text-area [value]="country.description!" placeholder="Description" name="description" formControlName="description" width="45%">
                </dx-text-area>
            </div>

            <div class="fields--btnContainer">
                <dx-button class="fields--btnContainer--btnSubmit" text="Save" type="success" [useSubmitBehavior]="true"
                    icon="save" (onClick)="submit()" [disabled]="!updatingFormCountry.valid"></dx-button>
                <dx-button text="Clear" (onClick)="clear()"></dx-button>
            </div>
        </form>
    </div>
</div>