<div class="responsive-paddings">
    <div class="content-block">
        <h2>Countries Table</h2>
    </div>

    <div>
        <!-- Tabla -->
        <dx-data-grid id="gridContainer" [dataSource]="arrayCountries" (onCellClick)="openPopup($event)">

            <!-- Paginación -->
            <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>

            <!-- Columnas-->
            <dxi-column dataField="name.common" caption="Country name" width="15%"></dxi-column>

            <dxi-column dataField="region" caption="Region"></dxi-column>

            <dxi-column dataField="language" caption="Language"></dxi-column>

            <dxi-column dataField="population" caption="Population" alignment="left"></dxi-column>

            <dxi-column dataField="flags.png" caption="Flag" cellTemplate="cellTemplate"></dxi-column>
            <div *dxTemplate="let data of 'cellTemplate'">
                <div *ngIf="data.text !== ''; else noImage">
                    <img [src]="data.text" width="100" height="60" class="flagImg">
                </div>
            </div>

        </dx-data-grid>

    </div>

</div>

<app-popup [visible]="visible" title="Flags" contentTemplate="content" [resizable]="false" [arrayImages]="arrayFlags"
    [showCloseButton]="true" [rowIndex]="rowIndex" (emitVisible)="getPropVisible($event)">
</app-popup>

<ng-template #noImage>
    <label>No Image</label>
</ng-template>